.footer {
  color: white;
  background-color: rgb(6, 193, 103);
  padding-top: 50px;
  padding-bottom: 25px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.column {
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 20px;
}

.googlePlay {
  background-image: url("../images/google-play-badge-128x128.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300%;
  height: 150px;
  margin-top: -50%;
}

.appStore {
  background-image: url("../images/AppStoreIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300%;
  height: 150px;
  margin-top: -100%;
  margin-bottom: -50%;
}

.list div {
  text-align: left;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.column2 {
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 20px;
}

.icons {
  position: relative;
  bottom: 25px;
  right: 10%;
}
.instagram img {
  /*background-color: white;*/
  display: flex;
  flex-direction: column;
  height: 3%;
  width: 3%;
  float: right;
}

.twitter img {
  /*background-color: white;*/
  display: flex;
  flex-direction: column;
  height: 3%;
  width: 3%;
  float: right;
}

.facebook img {
  /*background-color: white;*/
  display: flex;
  flex-direction: column;
  height: 3%;
  width: 3%;
  float: right;
}

.youtube img {
  /*background-color: white;*/
  display: flex;
  flex-direction: column;
  height: 3%;
  width: 3%;
  float: right;
}

.linkedin img {
  /*background-color: white;*/
  display: flex;
  flex-direction: column;
  height: 3%;
  width: 3%;
  float: right;
}
.pinterest img {
  /*background-color: white;*/
  display: flex;
  flex-direction: column;
  height: 3%;
  width: 3%;
  float: right;
}
