.product__body {
  margin: 20px 100px;
  border-radius: 20px;
}
.product__layout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  margin: 20px 0;
  background-image: url(../images/block_image.jpg);
  background-size: cover;
}
.product__name {
  width: 100%;
  margin-right: 100px;
}
.product__detail {
  width: 100%;
}

.product__add button {
  position: relative;
  left: -50px;
  width: 100px;
  height: 35px;
}
