.Home input {
  margin-top: 20px;
  width: 200px;
  height: 25px;
  font-size: 15px;
  padding-left: 10px;
  text-align: left;
}

.Background {
  background-image: url("./1.jpg");
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.45;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: "100%";
  width: "100%";
}
